#gameNameInput {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: 200;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 50px;
    margin-top: 50px;
    color: #fff;
}


button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
    margin-left: 0;
    float: right;
}

button:focus {
    outline: none;
}

.cursor {
    position: relative;
}
.cursor i {
    position: absolute;
    width: 2px;
    height: 80%;
    background-color: #fff;
    left: 7px;
    top: 10%;
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

.cursor input:focus + i {
    display: none;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}