body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
  color: #fff;
}

a,
a:active,
a:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-color: #343a40;
}
