.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #343A40;
  border-radius: 5px;
  color: #fff;
  width: 250px;
  height: 300px auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

img {
  width: 100%;
  overflow: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 300px;
  min-height: 250px auto;
}

button {
  margin-left: 5%,
}

.modal-img {
  width: 40%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: none;
}

ul > li {
  font-size: 22px;
  list-style-type: none;
  margin-top: -30px;
}

.modal-lg, {
  background-color: #343A40;
}