.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #343A40;
  border-radius: 5px;
  color: #fff;
  width: 250px;
  height: 300px auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  
}

img {
  width: 100%;
  overflow: auto;
  border-radius: 5px;
  max-height: 300px;
  min-height: 250px auto;
}

.gamesButton {
  margin-left: 2%;
  float: right;
  margin-right: 8px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.modal-img {
  width: 40%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: none;
}

ul > li {
  font-size: 22px;
  list-style-type: none;
  margin-top: -30px;
  font-family: 'Quantico', sans-serif;

}

p {
  font-family: 'Quantico', sans-serif;
}

.modal-content {
  background-color: rgba(34, 34, 34, 0.8);
  border-radius: 10px;
  padding: 20px; 
}

.gameInfo .col {
  /* border: 10px solid #343A40; */
  font-family: 'Quantico', sans-serif;
  background-color: black;
  border-right: 3px solid #343A40;
  border-left: 3px solid #343A40;
  border-top: 13px solid #343A40;
  border-bottom: 13px solid #343A40;
}

a {
  font-family: 'Quantico', sans-serif;

}
