.footer {
  min-height: 100px;
  background: #222;
  position: relative;
  color: #fff;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 6px;
  background: #222;
  text-align: center;
}
