.form {
width: 100%;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}


.update-button {
  border: 1px solid #79e;
  height: 30px auto;
  font-size: 11pt;
  border-radius: 10px;
  color: #79e;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.update-button:hover {
  border: 1px solid #79e;
  background-color: #79e;
  height: 30px auto;
  font-size: 11pt;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;

}

.checkbox {
  margin-right: 50px;
}

.form-check-label {
margin-left: 40px;
}

span {
  padding-bottom: 10px;
}

.modal-title {
  font-weight: lighter;

}