.nav-item, .nav-link a{
    margin: 5px;
    padding-right: 10px;
    font-size: 11pt;
    color: #fff;
}

/* .navbar-brand {
    padding-right: 10px;
} */

.navbar {
    height: 20px auto;
    background-color: #222;
    color: #fff;
}

button, .btn, .btn-primary {
    background-color: #79e;
    height: 30px;
    font-size: 11pt;
    border-radius: 3px;
    color: #fff;
    border: none;
    float: right;
    text-align: center;
  }